<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    margin: 15px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .table-container {
    border: 1px solid #d4d4d4;
    margin-top: 10px;
  }

  .clear-btn {
    border-radius: 0;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: white;
    background: #1976d2;
  }
  .card-container {
    padding: 10px 0;
  }
  .card-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .card-image {
    width: 300px;
  }
  .card-details {
    padding: 0 10px;
    max-width: 500px;
  }
  .card-artist {
    margin-bottom: 0;
  }
  .card-set {
    font-size: 14px;
    font-style: italic;
    color: #747474;
    margin-bottom: 10px;
  }
</style>

<div class="content" role="main">
  <!-- Resources -->
  <h1>Welcome To Angular-Tabulator</h1>
  <p>
    Angular-Tabulator is a boilerplate
    <a href="https://angular.io/" target="_blank">Angular</a> project with a
    reusable and flexible
    <a href="http://tabulator.info/" target="_blank">Tabulator</a> Component.
  </p>
</div>

<div>
  <p>Select a Row to See A Card</p>
  <div class="table-container">
    <app-tabulator
      *ngIf="
        exampleLocalColumnNames &&
        exampleLocalTableConfigs &&
        exampleLocalAdditionalTableConfigs
      "
      [columnNames]="exampleLocalColumnNames"
      [tableConfigs]="exampleLocalTableConfigs"
      [additionalTableConfigs]="exampleLocalAdditionalTableConfigs"
      [resultCount]="exampleLocalResultCount"
    ></app-tabulator>
  </div>
  <div *ngIf="selectedCard" class="card-container">
    <button class="clear-btn" (click)="clearCard()">Clear Card</button>
    <div class="card-row">
      <div class="card-column">
        <img class="card-image" src="{{ selectedCard?.image_uris?.normal }}" />
      </div>
      <div class="card-details">
        <h2 class="card-artist">Artist: {{ selectedCard?.artist }}</h2>
        <p class="card-set">
          Set: {{ selectedCard?.set_name }} Type: {{ selectedCard?.set_type }}
        </p>
        <p class="card-description">
          Description: {{ selectedCard?.oracle_text }}
        </p>
        <hr />
        <p class="card-flavor">{{ selectedCard?.flavor_text }}</p>
      </div>
    </div>
  </div>
</div>
