<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    margin: 15px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .table-container {
    border: 1px solid #d4d4d4;
    margin-top: 10px;
  }

  .local-table {
    width: 70%;
  }

  .card-container {
    text-align: center;
    width: 100%;
  }

  .p-1 {
    padding: 0.5rem;
  }

  /* .example {
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 100%;
    margin: 0 10px;
  }
  .shadow {
    box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.3);
  }
  .text-center {
    text-align: center;
  }
  .card-container {
    padding: 10px;
  }
  .card-figure {
    margin: 5px auto;
    max-width: 250px;
  }
  figcaption {
    text-align: center;
  }
  small {
    font-style: italic;
  }
  .p-2 {
    padding: 0.5rem;
  } */
</style>

<div class="content" role="main">
  <!-- Resources -->
  <h1>Welcome To Angular-Tabulator</h1>
  <p>
    Angular-Tabulator is a boilerplate
    <a href="https://angular.io/" target="_blank">Angular</a> project with a
    reusable and flexible
    <a href="http://tabulator.info/" target="_blank">Tabulator</a> Component.
  </p>
</div>

<div>
  <div class="flex-container">
    <div class="table-container local-table">
      <app-tabulator
        *ngIf="
          exampleLocalColumnNames &&
          exampleLocalTableConfigs &&
          exampleLocalAdditionalTableConfigs
        "
        [columnNames]="exampleLocalColumnNames"
        [tableConfigs]="exampleLocalTableConfigs"
        [additionalTableConfigs]="exampleLocalAdditionalTableConfigs"
        [resultCount]="exampleLocalResultCount"
      ></app-tabulator>
    </div>
    <div class="card-container">
      <p >Select a Row to See A Card</p>
      <div *ngIf="selectedCard">
        <div class="p-1">
          <button (click)="clearCard()">Clear Card</button>
        </div>
        <div>
          <figure class="card-figure">
            <img src="{{ selectedCard?.imageUrl }}" />
            <figcaption>Artist: {{ selectedCard?.artist }}</figcaption>
          </figure>
          <div>
            <p>{{ selectedCard?.text }}</p>
            <small>{{ selectedCard?.flavor }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <app-tabulator
      *ngIf="
        exampleRemoteColumnNames &&
        exampleRemoteTableConfigs &&
        exampleRemoteAdditionalTableConfigs
      "
      [columnNames]="exampleRemoteColumnNames"
      [tableConfigs]="exampleRemoteTableConfigs"
      [additionalTableConfigs]="exampleRemoteAdditionalTableConfigs"
    ></app-tabulator>
  </div>
</div>
